// Typography styles
// ===

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;

    font-family: $primary-font-family;
    font-weight: 400;
}

p {
    margin-bottom: $unit;
}

a {
    text-decoration: none;
}

pre {

}

blockquote {

}

hr {
    
}
